:root {
    --color-primary:#FF890F;
    --color-primary-light:#ffca94;
    --color-primary-dark:#cc6700;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --shadow-dark: rgba(0, 0, 0, 0.8); }

* {
    margin: 0;
    padding: 0; }
  
*, *::before, *::after {
    box-sizing: inherit; }
  
html {
    box-sizing: border-box;
    font-size: 62.5%; }
  
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    background-image: white;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--color-grey-dark-2); }

.container{
    display: flex;
    flex-wrap: wrap;
}    



.main-menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.main-menu ul li{
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-menu ul li .brush{
    position: absolute;
    top: -0.7rem;
    right: -2.5rem;
}

.brush img{
    width: 35px !important;
    height: 55px !important;
}

.main-menu ul li img{
    width: 27px;
    border-radius: 2px;
}

.main-menu ul li a{
    font-size: 1.2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-grey-dark-1);
    padding: 1rem;
    margin-top: 0.5rem;
    transition: transform ease 1s;
}

.main-menu ul li a:link {
    background-image: none;
}

.main-menu ul li a:focus, .main-menu ul li a:hover {
    background-image: url(../img/brush-3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    color: #fff;   
}

/* .main-content{
    transition: all 2s ease;
} */

.content .main-menu ul li a:focus{
    transform: scale(1.1);
}

/* .block{
    display: block !important;
} */
.detail-main-content{
    -webkit-animation: scale ease-in-out 1.5s forwards;
}

.content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 999;
    padding: 1rem 0 0 1rem;
}

@keyframes scale {
    0%{
        opacity: 0;
        transform: scale(0.9);
    }
  
    100%{
        opacity: 1;
        transform: scale(1.03);
    }
}

.slider{
    -webkit-mask-image: url(../img/brush-right.png);
    -moz-mask-image: url(../img/brush-right.png);
    flex: 1;
    background-image: url(../img/hình-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-mask-repeat: no-repeat;
    -moz-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    -moz-mask-size: cover;
    width: 100vw;
    height: 100vh;
    /* -moz-box-shadow: inset 11rem -4.6rem 7.6rem 3.5rem #0000009c;
    -webkit-box-shadow: inset 11rem -4.6rem 7.6rem 3.5rem #0000009c;
    box-shadow: inset 11rem -4.6rem 7.6rem 3.5rem #0000009c; */
    /*-- Add desktop keyframe animation via bourbon mixin --*/
    -webkit-animation: slider-lg ease-in-out 20s both infinite;
}

.slider img{
    width: 100%;
    height: 100vh;
}
@keyframes slider-lg {
    0%{
        background-image: url(../img/hình-1.jpg);
    }
    25%{
        background-image: url(../img/hình-2.jpg);
    }
    50%{
        background-image: url(../img/hình-3.jpg);
    }
    75%{
        background-image: url(../img/hình-4.jpg);
      }
    88%{
        background-image: url(../img/hình-5.jpg);
    }
}

.main-content{
    padding: 2rem 5rem;
}

.main-content h3{
    font-family: 'Lovers Quarrel', cursive;
    font-size: 8.5rem;
    color: var(--color-primary);
    font-weight: 300;
    text-align: center;
    line-height: 0.8;
}

.main-content p{
    font-size: 1.6rem;
    line-height: 1.8;
    text-align: justify;
}

.main-content .read_more{
    background-image: url("../img/brush-3.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

.fr-link, .de-link, .vi-link, .es-link{
    display: none;
}

.read_more a{
    color: white;
    font-size: 2rem;
}

.main-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding: 1rem 0 1rem 1rem;
}

.footer-content p{
    font-size: 1.1rem;
}

.left p{
    text-align: left;
}

.right p{
    text-align: right;
}

.footer-img{
    
}

.footer-img img{
    width: 10rem;
}

.copyright{
    position: absolute;
    right: 2rem;
}

.copyright p{
    color: #fff;
}

.footer-social{
    position: absolute;
    right: 25rem;
}

.footer-social i{
    font-size: 2.5rem;
    color: var(--color-primary-light);
    padding: 0 0.7rem;
}


